---
import { DBCard, DBStack } from '@db-ux/react-core-components';
import TextImage from '@template/components/TextImage/TextImage.astro';

interface Release {
	title: string;
	description: string;
	url: string;
}

interface Props {
	releases: Release[];
}

const { releases } = Astro.props;
---

<DBStack direction="row" gap="medium">
	{
		releases.map((release) => (
			<a
				href={release.url}
				target="_blank"
				rel="noopener noreferrer"
				style="flex:1; text-decoration:none; color:inherit"
			>
				<DBCard behavior="interactive" spacing="medium" style={{ height: '100%' }}>
					<TextImage
						title={release.title}
						imagePosition="right"
						imageWidth="33"
						imageSrc="/assets/migration-guides/Github-Teaser.png"
						imageAlt="GitHub"
						mask="fade-bottom-right"
						headlineLevel={3}
					>
						{release.description}
					</TextImage>
				</DBCard>
			</a>
		))
	}
</DBStack>
