.interactive-demo {
  color-scheme: inherit;
}

.interactive-demo__layout {
  overflow: unset;
}

.interactive-demo__controls {
  padding: var(--db-spacing-fixed-2xs);
  border-radius: var(--db-border-radius-sm);
  border: var(--db-border-width-3xs) solid var(--db-adaptive-on-bg-basic-emphasis-60-default);
  position: sticky;
  top: var(--db-spacing-fixed-md);
  width: 100%;
  max-width: fit-content;
  margin: 0 auto;
}

.interactive-demo__card {
  display: none;
}

.interactive-demo__card[data-active="true"] {
  display: block;
}

.interactive-demo__card-inner {
  overflow: hidden;
}

.interactive-demo__img {
  display: block;
  width: 100%;
  height: auto;
}