.card-teaser-row {
	display: flex;
	flex-wrap: wrap;
	gap: var(--db-spacing-fixed-md);
}

.card-teaser-row > .card-teaser {
	display: flex;
}

.card-teaser-row > .card-teaser > .db-card {
	inline-size: 100%;
}
