---
import DocumentationLayout from '@template/layouts/documentation/DocumentationLayout.astro';
import { DBSection, DBStack } from '@db-ux/react-core-components';
import ElevationPlayground from '../../../../documentation/foundation/elevation/_ElevationPlayground.astro';
import ElevationTable from '../../../../documentation/foundation/elevation/_ElevationTable.astro';
import QuestionForm from '@template/components/QuestionForm/QuestionForm.astro';

// eslint-disable-next-line astro/no-exports-from-components -- Exported for ChildPageOverview glob
export const frontmatter: DocumentationFrontMatter = {
	headline: 'Schattierung',
	title: 'Schattierung',
	shortDescription: 'Schatten- und Ebenen-Tokens für visuelle Tiefe und Hierarchie.',
	align: 'start',
	toc: true,
	sectionSpacing: 'small',
	sectionWidth: 'auto',
};

const headings = [
	{ depth: 2, slug: 'playground', text: 'Playground' },
	{ depth: 2, slug: 'tokens', text: 'Tokens' },
	{ depth: 2, slug: 'faq', text: 'FAQ' },
];
---

<DocumentationLayout frontmatter={frontmatter} headings={headings}>
	Elevations sind ein wichtiges Werkzeug in unserem Design System, um visuelle Hierarchie und Tiefe
	zu erzeugen. Durch die Schaffung visueller Ebenen helfen wir Nutzer:innen, schnell und einfach zu
	verstehen, welche Elemente wichtiger sind als andere.

	<DBSection spacing="small">
		<DBStack gap="x-large">
			<DBStack gap="none">
				<h2 id="playground">Playground</h2>
				<br />
				Experimentiere mit Elevation-Tokens, um zu sehen, wie die Schattentiefe die visuelle
				Hierarchie beeinflusst.
			</DBStack>
			<ElevationPlayground layout="horizontal" />
		</DBStack>
	</DBSection>

	<DBSection spacing="small">
		<h2 id="tokens">Tokens</h2>
		<ElevationTable />
	</DBSection>

	<DBSection spacing="small">
		<h2 id="faq">FAQ</h2>
		<QuestionForm componentName="Elevation" />
	</DBSection>

	<script>
		import { waitForElements } from '@template/utils/client.utils.ts';
		import { handleSimplePlaygrounds } from '@content/pages/documentation/foundation/_shared';

		function initElevation(): boolean {
			return handleSimplePlaygrounds({
				dataAttributeName: 'elevation',
				tokenPrefix: 'elevation',
				popoverLabel: 'Elevation',
			});
		}

		waitForElements(initElevation);
	</script>
</DocumentationLayout>
