.resource-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	gap: var(--db-spacing-fixed-md);
	align-items: stretch;
}

.resource-cards .db-card {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.resource-text {
	display: flex;
	flex-direction: column;
	gap: 0;
}


.resource-cards .db-card h5 {
	margin: 0;
}

.resource-cards .db-card p {
	margin: 0;
	color: var(--db-adaptive-on-bg-basic-emphasis-80-default);
}

.resource-cards .db-card strong {
	margin-top: auto;
}
