.resource-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	gap: var(--db-spacing-fixed-md);
	align-items: stretch;
}

.resource-cards .db-card {
	block-size: 100%;
	display: flex;
	flex-direction: column;
}

.resource-text {
	display: flex;
	flex-direction: column;
	gap: 0;
	min-inline-size: 0;
}


.resource-cards .db-link {
	min-height: min-content;
	height: 100%;
}

.resource-cards .db-link .db-card {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	gap: var(--db-spacing-fixed-md);
}

.resource-cards .db-card h5 {
	margin: 0;
}

.resource-cards .db-card p {
	margin: 0;
	color: var(--db-adaptive-on-bg-basic-emphasis-80-default);
}

.resource-cards .db-card strong {
	display: inline-block;
	max-inline-size: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-block-start: auto;
}
