.resource-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	gap: var(--db-spacing-fixed-md);
	align-items: start;
}

.resource-text {
	display: flex;
	flex-direction: column;
	gap: 0;
}

.resource-cards .db-link {
	min-height: min-content;
	height: 100%;
}

.resource-cards .db-link .db-card {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	gap: var(--db-spacing-fixed-md);
}

.resource-text .resource-title {
	margin: 0;
}

.resource-cards .db-card p {
	margin: 0;
	color: var(--db-adaptive-on-bg-basic-emphasis-80-default);
}

.resource-cards .db-card .resource-link-label {
	margin-top: auto;
}
