---
import { DBCard, DBButton } from '@db-ux/react-core-components';
import './ResourceCards.css';

interface Resource {
	title: string;
	description: string;
	url: string;
	icon: string;
}

interface Props {
	resources: Resource[];
}

const { resources } = Astro.props;
---

<div class="resource-cards">
	{
		resources.map((resource) => (
			<a href={resource.url} target="_blank" rel="noopener noreferrer">
				<DBCard behavior="interactive">
					<img src={resource.icon} alt="" width="32" height="32" />
					<div class="resource-text">
						<b>{resource.title}</b>
						<p>{resource.description}</p>
					</div>
					<strong data-icon-trailing="arrow_up_right">View Storybook</strong>
				</DBCard>
			</a>
		))
	}
</div>
