.avatar-meta {
	display: flex;
	flex-direction: column;
}

/* Heading inside avatar meta */
.avatar-meta > h6 {
	margin: 0;
	font: var(--db-type-headline-3xs);
	text-align: center;
}

/* Paragraph inside avatar meta */
.avatar-meta > p {
	margin: 0;
	text-align: center;
	color: var(--db-adaptive-on-bg-basic-emphasis-80-default);
	font: var(--db-type-body-xs);
	white-space: pre-line;
}

/* Viewer layering for hover swap */
.avatar-viewer {
	position: relative;
	width: 100%;
	height: var(--db-container-2xs);
}

.avatar-viewer model-viewer {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
}

@media (width <= 767px) {
	.avatar-viewer {
		height: calc(var(--db-container-2xs) / 2); /* Mobile reduced height */
	}
}

.viewer-base {
	opacity: 1;
	transition: opacity 10ms ease;
}

.viewer-hover {
	opacity: 0;
	transition: opacity 10ms ease;
}

.avatar-viewer:hover .viewer-base {
	opacity: 0;
}

.avatar-viewer:hover .viewer-hover {
	opacity: 1;
}

model-viewer::part(default-progress-bar) {
	display: none;
}
