.color-playground {
	display: grid;
	grid-template-rows: auto 400px auto;
	background-color: var(--db-adaptive-bg-basic-level-2-default);
	border-radius: var(--db-border-radius-md);
	border: var(--db-border-width-3xs) solid var(--db-adaptive-on-bg-basic-emphasis-60-default);
	max-width: 100%;
	overflow: hidden;
}

.color-playground[data-layout='vertical'] {
	grid-template-columns: 1fr 250px;
	grid-template-rows: 400px auto;
}

.color-playground[data-layout='vertical'] .color-playground-controls {
	grid-row: 1;
	grid-column: 2;
	border-left: var(--db-border-width-3xs) solid var(--db-adaptive-on-bg-basic-emphasis-60-default);
	border-top: none;
}

.color-playground[data-layout='vertical'] .color-playground-preview {
	grid-row: 1;
	grid-column: 1;
}

.color-playground-preview {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 150px;
	padding: var(--db-spacing-fixed-2xl);
	min-width: 0;
}

.color-playground-preview .db-card {
	max-width: 480px;
}

.color-playground-preview h6 {
	margin: 0;
	cursor: pointer;
}

.color-playground-preview p {
	margin: 0;
	cursor: pointer;
}

.color-playground-preview .db-tag {
	cursor: pointer;
}

.color-playground-token-display {
	grid-column: 1 / -1;
	padding: var(--db-spacing-fixed-md);
	background-color: var(--db-adaptive-bg-basic-level-1-default);
	border-top: var(--db-border-width-3xs) solid var(--db-adaptive-on-bg-basic-emphasis-60-default);
	align-items: start;
	display: flex;
	gap: var(--db-spacing-fixed-xs);
}

.color-playground-token-display .token-icon {
	color: var(--db-adaptive-on-bg-basic-emphasis-70-default);
	flex-shrink: 0;
}

.color-playground-token-display .token-content {
	display: flex;
	flex-direction: column;
	gap: var(--db-spacing-fixed-2xs);
	color: var(--db-adaptive-on-bg-basic-emphasis-80-default);
}

.color-playground-token-display h6 {
	margin: 0;
}

.color-playground-controls {
	display: flex;
	flex-direction: row;
	gap: var(--db-spacing-fixed-sm);
	padding: var(--db-spacing-fixed-md);
	border-bottom: var(--db-border-width-3xs) solid var(--db-adaptive-on-bg-basic-emphasis-60-default);
	background-color: var(--db-adaptive-bg-basic-level-1-default);
}

.color-playground-controls .db-select {
	margin-left: auto;
	width: 33%;
}
