---
interface Props {
  ariaLabel?: string;
}
const { ariaLabel } = Astro.props as Props;
---
<style is:global>
@import "./Carousel.css";
</style>

<div class="carousel" aria-label={ariaLabel}>
  <slot />
</div>
