.collapsible-wrapper[data-collapsed='true'] {
	/* stylelint-disable-next-line db-ux/use-sizing */
	height: var(--collapsed-height, var(--db-container-xs));
	overflow: hidden;
	mask-image: linear-gradient(
		to bottom,
		black calc(100% - calc(var(--db-container-xs) / 2)),
		transparent
	);
}

.collapsible-wrapper[data-collapsed='false'] {
	height: auto;
	mask-image: none;
}

.collapse-button {
	margin: var(--db-spacing-fixed-2xl) auto auto;
}
