.teaser-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--db-container-2xs), 1fr));
	gap: var(--db-spacing-fixed-md);
}

.teaser-cards .db-card > .teaser-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.teaser-cards .db-card .teaser-title-link {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}

.teaser-cards .db-card .teaser-title-link::after {
	content: '';
	position: absolute;
	inset: 0;
}

.teaser-cards .db-card .teaser-title-link:focus-visible {
	outline: var(--db-border-width-xs) solid var(--db-adaptive-on-bg-basic-emphasis-100-default);
	outline-offset: calc(-1 * var(--db-border-width-3xs));
}

.teaser-preview {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: var(--db-sizing-2xl);
	background: var(--db-adaptive-bg-basic-level-3-default);
	flex-shrink: 0;
	margin-top: auto;
}

.teaser-preview .db-link {
	width: auto;
	display: inline-flex !important;
	flex-direction: row !important;
	text-decoration: none !important;
}

.teaser-preview .db-link::after {
	text-decoration: none !important;
}

.teaser-content {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--db-spacing-fixed-xs);
	padding: var(--db-spacing-fixed-md);
}

.teaser-cards .db-card h2 {
	margin: 0;
	font: var(--db-type-headline-3xs);
}

.teaser-cards .db-card p {
	margin: 0;
	color: var(--db-adaptive-on-bg-basic-emphasis-80-default);
}
