.teaser-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: var(--db-spacing-fixed-md);
}

.teaser-cards .db-card .db-link {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: inherit;
	height: 100%;
}

.teaser-content {
	display: flex;
	flex-direction: column;
	gap: var(--db-spacing-fixed-xs);
	padding: var(--db-spacing-fixed-md);
}

.teaser-cards .db-card h6 {
	margin: 0;
}

.teaser-cards .db-card p {
	margin: 0;
	color: var(--db-adaptive-on-bg-basic-emphasis-70-default);
}
