---
import { DBCard, DBLink } from '@db-ux/react-core-components';
import './TeaserCard.css';

interface Props {
	teasers: {
		title: string;
		description: string;
		url: string;
	}[];
}

const { teasers } = Astro.props;
---

<div class="teaser-cards">
	{
		teasers.map((teaser) => (
			<DBCard behavior="interactive" spacing="none">
				<a href={teaser.url}>
					<div class="teaser-content">
						<h6>{teaser.title}</h6>
						<p>{teaser.description}</p>
					</div>
				</a>
			</DBCard>
		))
	}
</div>
