---
import { DBCard, DBPopover, type DBSelectOptionType } from '@db-ux/react-core-components';
import Playground from '../_shared/Playground.astro';
import './SpacingPlayground.css';

const spacings: DBSelectOptionType[] = [
	{ value: '3xl', label: '3xl' },
	{ value: '2xl', label: '2xl' },
	{ value: 'xl', label: 'xl' },
	{ value: 'lg', label: 'lg' },
	{ value: 'md', label: 'md' },
	{ value: 'sm', label: 'sm' },
	{ value: 'xs', label: 'xs' },
	{ value: '2xs', label: '2xs' },
	{ value: '3xs', label: '3xs' },
];

const cardSpacings: DBSelectOptionType[] = [
	{ value: 'none', label: 'None' },
	{ value: 'sm', label: 'Small' },
	{ value: 'md', label: 'Medium' },
	{ value: 'lg', label: 'Large' },
];

const densities: DBSelectOptionType[] = [
	{ value: 'functional', label: 'Functional' },
	{ value: 'regular', label: 'Regular' },
	{ value: 'expressive', label: 'Expressive' },
];
---

<Playground
	selects={[
		{ id: 'select', label: 'Gap Spacing', defaultValue: 'md', options: spacings },
		{ id: 'density-select', label: 'Density', defaultValue: 'regular', options: densities },
	]}
>
	<DBPopover width="fixed" gap="true">
		<button
			slot="trigger"
			id="box"
			class="spacing-stack interactive-box"
			data-spacing="md"
			data-density="regular"
		>
			<DBCard behavior="interactive" className="spacing-card" spacing="none">
				<p>Focus Me</p>
			</DBCard>
			<DBCard behavior="interactive" className="spacing-card" spacing="none">
				<p>Focus Me</p>
			</DBCard>
		</button>
	</DBPopover>
</Playground>
