@import url('@db-ux/core-components/build/styles/rollup.css');
@import url('@db-ux/db-theme/build/styles/rollup.css');
@import url('./layout.css');
@import url('./markdown.css');
@import url('./table-of-contents.css');
@import url('./table.css');
@import url('./db-ux-overrides.css');

:root {
	--header-height: 64px;
	--footer-height: 80px;
	--side-nav-width: 350px;
	--content-width: min(1440px, 100svw);

	@media screen and (width >= 1024px) {
		--footer-height: 64px;
	}
}

html {
	/* stylelint-disable-next-line db-ux/use-spacings */
	scroll-padding-block-start: var(--header-height);
}
