@import url('@db-ux/core-components/build/styles/rollup.css');
@import url('@db-ux/db-theme/build/styles/rollup.css');
@import url('./layout.css');
@import url('./markdown.css');
@import url('./table-of-contents.css');
@import url('./table.css');
@import url('./db-ux-overrides.css');

:root {
	--header-height: 64px;
	--footer-height: 80px;
	--side-nav-width: 350px;
	--content-width: min(1440px, 100svw);

	@media screen and (width >= 1024px) {
		--footer-height: 64px;
	}
}

html {
	/* stylelint-disable-next-line db-ux/use-spacings */
	scroll-padding-top: var(--header-height);
}

/* Screen reader only - visually hidden but accessible to assistive technology */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
