/* Temporary implementation of table stylings. This file can be deleted in the future when @db-ux releases corporate styling for tables. */
table {
	display: table;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: var(--db-border-radius-md);
	border: var(--db-border-width-3xs) solid var(--db-adaptive-on-bg-basic-emphasis-60-default);
	overflow: hidden;
}

table td,
table th {
	border-right: var(--db-border-width-3xs) solid var(--db-adaptive-on-bg-basic-emphasis-60-default);
	border-bottom: var(--db-border-width-3xs) solid var(--db-adaptive-on-bg-basic-emphasis-60-default);
	padding: var(--db-spacing-fixed-sm);
	padding-inline: var(--db-spacing-fixed-lg);
	text-align: start;
}

table td:last-child,
table th:last-child {
	border-right: none;
}

table tr:last-child td {
	border-bottom: none;
}

table thead {
	background-color: var(--db-adaptive-on-bg-basic-emphasis-50-default);
}

table tbody tr:nth-child(2n) {
	background-color: var(--db-adaptive-bg-basic-level-2-default);
}
