.dba-toc {
	width: 300px;

	@media screen and (width >= 1024px) {
		position: fixed;
		margin-top: var(--db-spacing-fixed-md);
	}
}

.dba-toc-heading {
	padding: var(--db-spacing-fixed-3xs) 0 var(--db-spacing-fixed-3xs) var(--db-spacing-fixed-md);
	border-left: 4px solid var(--db-neutral-on-bg-inverted-pressed);
	transition:
		border 0.1s ease-out,
		color 0.1s ease-out;
}

.dba-toc-heading::marker {
	color: transparent;
}

.dba-toc-heading:focus {
	color: inherit;
}

.dba-toc-heading a:focus {
	color: inherit;
}

.dba-toc-heading:hover,
.dba-toc-heading[data-active='true'] {
	border-left-color: var(--db-brand-on-bg-basic-emphasis-70-default);
	color: var(--db-brand-on-bg-basic-emphasis-70-default);
}

.dba-toc-heading svg {
	opacity: 0.6;
}

.dba-toc-heading:hover svg {
	opacity: 0.8;
}

.dba-toc-heading a {
	display: inline-flex;
	gap: var(--db-spacing-fixed-xs);
	width: 100%;
	padding: var(--db-spacing-fixed-3xs) 0;
	font: inherit;
	color: inherit;
	text-decoration: none;
}

.dba-toc-heading a:hover,
.dba-toc-heading[data-active='true'] a {
	color: var(--db-brand-on-bg-basic-emphasis-70-default);
}

.dba-toc-heading[data-depth='3'] {
	padding-left: var(--db-spacing-fixed-lg);
}

.dba-toc-heading[data-depth='4'] {
	padding-left: var(--db-spacing-fixed-xl);
}
