.dba-toc {
	position: relative;
	inline-size: var(--db-container-3xs);
	background-color: var(--db-neutral-bg-basic-level-1-default);

	@media screen and (width >= 1024px) {
		position: fixed;
		margin-top: var(--db-spacing-fixed-sm);
		inset-inline-end: var(--db-spacing-fixed-sm);
	}

	overflow-y: auto;
	max-block-size: calc(100svh - var(--header-height) - var(--footer-height));
}

.dba-toc ul {
	padding: 0 0 0 var(--db-spacing-fixed-2xs);
}

.dba-toc-indicator {
	position: absolute;
	left: 0;
	top: 0;
	width: var(--db-border-width-xs);
	background-color: var(--db-brand-on-bg-basic-emphasis-70-default);
	border-radius: var(--db-border-radius-full);
	transition:
		transform 0.3s ease,
		height 0.3s ease;
	z-index: 1;
}

.dba-toc-heading {
	position: relative;
	list-style: none;
	display: flex;
	align-items: center;
	border-radius: var(--db-border-radius-sm);
	transition: background-color 0.2s ease;
}

.dba-toc-heading:hover {
	background: var(--db-adaptive-bg-basic-transparent-semi-hovered);
}

.dba-toc-heading:active {
	background: var(--db-adaptive-bg-basic-transparent-semi-pressed);
}

.dba-toc-heading::before {
	content: '';
	position: absolute;
	left: calc(var(--db-spacing-fixed-2xs) * -1);
	top: 0;
	bottom: 0;
	width: var(--db-border-width-xs);
	background-color: var(--db-neutral-on-bg-inverted-pressed);
}

.dba-toc-heading:first-child::before {
	border-top-left-radius: var(--db-border-radius-full);
	border-top-right-radius: var(--db-border-radius-full);
}

.dba-toc-heading:last-child::before {
	border-bottom-left-radius: var(--db-border-radius-full);
	border-bottom-right-radius: var(--db-border-radius-full);
}

.dba-toc-heading svg {
	opacity: var(--db-opacity-md);
}

.dba-toc-heading a {
	display: inline-flex;
	align-items: center;
	gap: var(--db-spacing-fixed-2xs);
	flex: 1;
	min-height: var(--db-sizing-md);
	padding: var(--db-spacing-fixed-2xs) var(--db-spacing-fixed-2xs) var(--db-spacing-fixed-2xs)
		var(--db-spacing-fixed-sm);
	border-radius: var(--db-border-radius-sm);
	font: inherit;
	color: inherit;
	text-decoration: none;
}

.dba-toc-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--db-spacing-fixed-xl);
	width: var(--db-spacing-fixed-xl);
	background: transparent;
	/* stylelint-disable-next-line db-ux/use-border-width */
	border: transparent;
	border-radius: var(--db-border-radius-xs);
	color: var(--db-adaptive-on-bg-basic-emphasis-100-default);
	cursor: pointer;
	line-height: 1;
	transition: background-color 0.2s ease;
	position: absolute;
	right: var(--db-spacing-fixed-2xs);
	z-index: 2;

	&:hover {
		background: var(--db-adaptive-bg-basic-transparent-semi-hovered);
	}
}

.dba-toc-heading[data-depth='3'] a {
	padding-left: var(--db-spacing-fixed-lg);
}

.dba-toc-heading[data-depth='4'] a {
	padding-left: var(--db-spacing-fixed-lg);
}

.dba-toc-heading[data-depth='5'] a {
	padding-left: var(--db-spacing-fixed-lg);
}

.dba-toc-heading[data-depth='6'] a {
	padding-left: var(--db-spacing-fixed-lg);
}
