[id='demo-iframe'] {
	width: 100%;
	height: 110vh;
	zoom: 0.6;
}

.db-card.actionbar {
	width: fit-content;
	margin: auto;
	padding: var(--db-spacing-fixed-2xs);
	position: sticky;
	top: var(--db-spacing-fixed-md);
}
