.theme-db {
	--db-brand-origin-default: #ec0016;
	--db-brand-origin-hovered: #c50014;
	--db-brand-origin-pressed: #9e0011;
	--db-brand-on-bg-basic-emphasis-70-default: #ec0016;
}

.theme-neutral {
	--db-brand-origin-default: #000;
	--db-brand-origin-hovered: #1b1b1b;
	--db-brand-origin-pressed: #3b3b3b;
	--db-brand-on-bg-basic-emphasis-70-default: #000;
}

.theme-station {
	--db-brand-origin-default: #17217c;
	--db-brand-origin-hovered: #4b57e3;
	--db-brand-origin-pressed: #2532af;
	--db-brand-on-bg-basic-emphasis-70-default: #6069e8;
}

.theme-sbahn {
	--db-brand-origin-default: #408335;
	--db-brand-origin-hovered: #316828;
	--db-brand-origin-pressed: #1c4116;
	--db-brand-on-bg-basic-emphasis-70-default: #408335;
}

.db-card.actionbar {
	width: fit-content;
	margin: auto;
	padding: var(--db-spacing-fixed-2xs);
	position: sticky;
	top: var(--db-spacing-fixed-md);
}
