[id='demo-iframe'] {
	inline-size: 100%;
	block-size: 110vh;
	zoom: 0.6;
}

.db-card.actionbar {
	inline-size: fit-content;
	margin: auto;
	padding: var(--db-spacing-fixed-2xs);
	position: sticky;
	inset-block-start: var(--db-spacing-fixed-md);
}
