---
import { DBSection, DBStack, DBCard, DBButton, DBTooltip } from '@db-ux/react-core-components';
import './InteractiveDemoSection.css';
import '@template/themes/variables.css';
---

<DBSection width="medium" spacing="medium" id="home--interactive-demo-section">
	<DBStack>
		<DBCard spacing="small" className="actionbar">
			<DBStack direction="row" gap="2x-small">
				<div class="actionbar-group">
					<DBButton variant="filled" id="toggle-demo">Show B2C Example</DBButton>
				</div>
				<div class="actionbar-group">
					<DBButton variant="brand" data-action="theme" data-value="default">
						<span class="label-full">Deutsche Bahn</span><span class="label-short">DB</span>
					</DBButton>
					<DBButton data-theme="station" variant="brand" data-action="theme" data-value="station">
						Station
					</DBButton>
					<DBButton data-theme="s-bahn" variant="brand" data-action="theme" data-value="s-bahn">
						S-Bahn
					</DBButton>
					<DBButton data-theme="neutral" variant="brand" data-action="theme" data-value="neutral">
						Neutral
					</DBButton>
				</div>
				<div class="actionbar-group">
					<DBButton
						title="Toggle dark mode"
						variant="filled"
						noText="true"
						icon="moon"
						id="toggle-mode"
					>
						<DBTooltip>Toggle dark mode</DBTooltip>
					</DBButton>
					<a
						title="Fullscreen"
						class="db-button"
						target="_blank"
						referrerpolicy="no-referrer"
						data-variant="filled"
						data-no-text="true"
						data-icon="fullscreen"
						id="fullscreen-anchor"
					>
						Fullscreen
					</a>
				</div>
			</DBStack>
		</DBCard>
		<DBCard spacing="none">
			<iframe id="demo-iframe" src="/demo-b2b" title="Interactive demo"></iframe>
		</DBCard>
	</DBStack>
</DBSection>
