.release-note .db-divider {
	margin: var(--db-spacing-fixed-2xl) 0;
}

.release-note-version {
	font: var(--db-type-headline-sm);
}

.release-note-date {
	font: var(--db-type-body-md);
	color: var(--db-adaptive-on-bg-basic-emphasis-90-default);
}
