.properties-table-wrapper {
	overflow-x: auto;
	width: 100%;
	min-width: 0;
	-webkit-overflow-scrolling: touch;
}

.properties-table-spacing {
	margin-top: var(--db-spacing-fixed-xl);
}

.properties-table-wrapper table {
	width: 100%;
	table-layout: fixed;
}
.properties-table-wrapper table th:nth-child(1) {
	max-width: 50px;
}

.properties-table-wrapper table td,
.properties-table-wrapper table th {
	overflow-wrap: break-word;
	word-break: normal;
	hyphens: auto;
}

.properties-table-wrapper table tbody tr:last-child th,
.properties-table-wrapper table tbody tr:last-child td {
	border-bottom: none;
}
