---
import { appConfig } from '@root/app.config';
import { ClientRouter } from 'astro:transitions';

const { title, loadModelViewer } = Astro.props as {
	title: string;
	loadModelViewer?: boolean;
};
---

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<base href={appConfig.basePath} />
	<title>{title}</title>
	{loadModelViewer && <script type="module" is:inline src={`${appConfig.basePath}model-viewer.min.js`} />}

	<ClientRouter />
</head>
