---
import { appConfig } from '@root/app.config';
import { ClientRouter } from 'astro:transitions';

const { title } = Astro.props as {
  title: string;
};
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <base href={appConfig.basePath} />
  <title>{title}</title>
  <ClientRouter />
  <script
    type="module"
    src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"></script>
</head>
