/* Local styles for Carousel (horizontal scroll wrapper) */
.carousel {
	inline-size: 100%;
	display: flex;
	gap: var(--db-spacing-fixed-lg);
	overflow: auto hidden;
	-webkit-overflow-scrolling: touch;
	scroll-snap-type: x mandatory;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE/Edge legacy */
	padding: 0 var(--db-spacing-fixed-xl);
}

.carousel > * {
	flex: 0 0 auto;
	scroll-snap-align: center;
}

.carousel > .db-card {
	inline-size: 80%;
}

.carousel .text-image-image img {
	block-size: 100%;
	object-fit: cover;
}

/* WebKit */
.carousel::-webkit-scrollbar {
	inline-size: 0;
	block-size: 0;
}

.fadeout-horizontal {
	mask-image: linear-gradient(
		to right,
		transparent,
		black var(--db-spacing-fixed-xl),
		black calc(100% - var(--db-spacing-fixed-xl)),
		transparent
	);
}
