---
import DocumentationLayout from '@template/layouts/documentation/DocumentationLayout.astro';
import { DBSection, DBStack } from '@db-ux/react-core-components';
import BorderWidthPlayground from '@template/components/documentation/BorderWidthPlayground/BorderWidthPlayground.astro';
import BorderWidthTable from '@template/components/documentation/BorderWidthTable/BorderWidthTable.astro';
import QuestionForm from '@template/components/feedback/QuestionForm/QuestionForm.astro';

const frontmatter: DocumentationFrontMatter = {
	headline: 'Border Width',
	title: 'Border Width',
	align: 'start',
	toc: true,
	sectionSpacing: 'small',
	sectionWidth: 'auto',
};

const headings = [
	{ depth: 2, slug: 'playground', text: 'Playground' },
	{ depth: 2, slug: 'tokens', text: 'Tokens' },
	{ depth: 2, slug: 'faq', text: 'FAQ' },
];
---

<DocumentationLayout frontmatter={frontmatter} headings={headings}>
	The border width defines the stroke widths within the design system, ensuring a consistent visual
	appearance and clear structure of the user interface.

	<DBSection id="border-width--playground" spacing="small" width="large">
		<DBStack gap="x-large">
			<DBStack gap="none">
				<h2 id="playground">Playground</h2>
				<br />
				Experiment with border width tokens to see how they affect border thickness.
			</DBStack>
			<BorderWidthPlayground layout="horizontal" />
		</DBStack>
	</DBSection>

	<DBSection id="border-width--tokens" spacing="small" width="large">
		<h2 id="tokens">Tokens</h2>
		<BorderWidthTable />
	</DBSection>

	<DBSection id="border-width--faq" spacing="small" width="large">
		<h2 id="faq">FAQ</h2>
		<QuestionForm componentName="Border Width" />
	</DBSection>

	<script>
		import { waitForElements } from '@template/utils/client.utils.ts';
		import { handleSimplePlaygrounds } from '@template/components/documentation/FoundationPlayground';

		function initBorderWidth(): boolean {
			return handleSimplePlaygrounds({
				dataAttributeName: 'border-width',
				tokenPrefix: 'border-width',
				remPx: true,
				popoverLabel: 'Border Width',
			});
		}

		waitForElements(initBorderWidth);
	</script>
</DocumentationLayout>
