.icon-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--db-sizing-lg), 1fr));
	gap: var(--db-spacing-fixed-sm);
	padding: var(--db-spacing-fixed-lg) 0;
}

.icon-search {
	margin-block-end: var(--db-spacing-fixed-md);
}

.db-button.icon-item {
	inline-size: var(--db-sizing-lg);
	block-size: var(--db-sizing-lg);
}
