---
import { DBCard, DBPopover, type DBSelectOptionType } from '@db-ux/react-core-components';
import Playground from '../_shared/Playground.astro';
import './BorderRadiusPlayground.css';

const radii: DBSelectOptionType[] = [
	{ value: 'full', label: 'full' },
	{ value: '3xl', label: '3xl' },
	{ value: '2xl', label: '2xl' },
	{ value: 'xl', label: 'xl' },
	{ value: 'lg', label: 'lg' },
	{ value: 'md', label: 'md' },
	{ value: 'sm', label: 'sm' },
	{ value: 'xs', label: 'xs' },
	{ value: '2xs', label: '2xs' },
	{ value: '3xs', label: '3xs' },
];
---

<Playground
	selects={[{ id: 'select', label: 'Border Radius', defaultValue: 'md', options: radii }]}
>
	<DBPopover width="fixed" gap="true">
		<button slot="trigger" id="box" class="radius-box interactive-box" data-border-radius="md">
			<DBCard behavior="interactive" spacing="none"> Focus Me </DBCard>
		</button>
	</DBPopover>
</Playground>
