.guideline-examples {
	display: flex;
	gap: var(--db-spacing-fixed-md);
	margin-block-end: var(--db-spacing-fixed-2xl);

	&:last-child {
		margin-block-end: 0;
	}
}

.guideline-example-container {
	inline-size: 50%;
	display: flex;
	flex-direction: column;
	gap: var(--db-spacing-fixed-sm);

	.db-card {
		gap: var(--db-spacing-fixed-xs);

		.guideline-example-iframe {
			inline-size: 100%;
			aspect-ratio: 16/9;
		}
	}
}
