.guideline-example-container {
	position: relative;
	display: inline-block;
	width: 50%;
}

.guideline-example-badge {
	position: absolute;
	top: var(--db-spacing-fixed-md);
	left: var(--db-spacing-fixed-md);
	z-index: 1;
}

.guideline-example-iframe {
	border: var(--db-border-width-3xs) solid var(--db-adaptive-on-bg-basic-emphasis-60-default);
	border-radius: var(--db-border-radius-md);
	width: 100%;
	aspect-ratio: 16/9;
}
