.guideline-examples {
	display: flex;
	gap: var(--db-spacing-fixed-md);
	margin-bottom: var(--db-spacing-fixed-2xl);
}

.guideline-examples:last-child {
	margin-bottom: 0;
}

.guideline-example {
	position: relative;
	display: inline-block;
	width: 50%;
}

.guideline-example.full-width {
	width: 100%;
}

.guideline-badge {
	position: absolute;
	top: var(--db-spacing-fixed-md);
	left: var(--db-spacing-fixed-md);
	z-index: 1;
}

.guideline-iframe {
	border-top: var(--db-border-width-3xs) solid var(--db-adaptive-on-bg-basic-emphasis-60-default);
	border-left: var(--db-border-width-3xs) solid var(--db-adaptive-on-bg-basic-emphasis-60-default);
	border-right: var(--db-border-width-3xs) solid var(--db-adaptive-on-bg-basic-emphasis-60-default);
	border-radius: var(--db-border-radius-md) var(--db-border-radius-md) 0 0;
	width: 100%;
	aspect-ratio: 16/9;
}

.guideline-example.full-width .guideline-iframe {
	aspect-ratio: 32/9;
}

.guideline-example.variant-successful .guideline-iframe {
	border-bottom: var(--db-border-width-xs) solid var(--db-successful-on-bg-basic-emphasis-70-default);
}

.guideline-example.variant-warning .guideline-iframe {
	border-bottom: var(--db-border-width-xs) solid var(--db-warning-on-bg-basic-emphasis-70-default);
}

.guideline-example.variant-critical .guideline-iframe {
	border-bottom: var(--db-border-width-xs) solid var(--db-critical-on-bg-basic-emphasis-70-default);
}
