.guideline-examples {
	display: flex;
	gap: var(--db-spacing-fixed-md);
	margin-block-end: var(--db-spacing-fixed-2xl);

	&:last-child {
		margin-block-end: 0;
	}
}

.guideline-example-container {
	position: relative;
	display: inline-block;
	inline-size: 50%;
}

.guideline-example-badge {
	position: absolute;
	inset-block-start: var(--db-spacing-fixed-md);
	inset-inline-start: var(--db-spacing-fixed-md);
	z-index: 1;
}

.guideline-example-iframe {
	border: var(--db-border-width-3xs) solid var(--db-adaptive-on-bg-basic-emphasis-60-default);
	border-radius: var(--db-border-radius-md);
	inline-size: 100%;
	aspect-ratio: 16/9;
}
