.question-form {
	display: flex;
	flex-direction: column;
	gap: var(--db-spacing-fixed-md);
	width: 100%;
	align-items: flex-start;
}

.question-form .db-textarea {
	width: 100%;
}

.question-form .db-textarea__input {
	resize: none;
}
