.question-form {
	display: flex;
	flex-direction: column;
	gap: var(--db-spacing-fixed-md);
	align-items: flex-start;
}

.question-form .db-textarea {
	inline-size: 100%;
	max-inline-size: var(--db-container-xl);
}
