---
import Playground from '../_shared/Playground.astro';
import './TypographyPlayground.css';
import { DBCard, DBPopover, type DBSelectOptionType } from '@db-ux/react-core-components';

const types: DBSelectOptionType[] = [
	{ value: 'headline-3xl', label: 'Headline 3xl' },
	{ value: 'headline-2xl', label: 'Headline 2xl' },
	{ value: 'headline-xl', label: 'Headline xl' },
	{ value: 'headline-lg', label: 'Headline lg' },
	{ value: 'headline-md', label: 'Headline md' },
	{ value: 'headline-sm', label: 'Headline sm' },
	{ value: 'headline-xs', label: 'Headline xs' },
	{ value: 'headline-2xs', label: 'Headline 2xs' },
	{ value: 'headline-3xs', label: 'Headline 3xs' },
	{ value: 'body-3xl', label: 'Body 3xl' },
	{ value: 'body-2xl', label: 'Body 2xl' },
	{ value: 'body-xl', label: 'Body xl' },
	{ value: 'body-lg', label: 'Body lg' },
	{ value: 'body-md', label: 'Body md' },
	{ value: 'body-sm', label: 'Body sm' },
	{ value: 'body-xs', label: 'Body xs' },
	{ value: 'body-2xs', label: 'Body 2xs' },
	{ value: 'body-3xs', label: 'Body 3xs' },
];

const densities: DBSelectOptionType[] = [
	{ value: 'functional', label: 'Functional' },
	{ value: 'regular', label: 'Regular' },
	{ value: 'expressive', label: 'Expressive' },
];
---

<Playground
	selects={[
		{ id: 'select', label: 'Typography', defaultValue: 'body-md', options: types },
		{ id: 'density-select', label: 'Density', defaultValue: 'regular', options: densities },
	]}
	previewId="typography-preview"
	previewDataDensity="regular"
>
	<DBPopover width="fixed" gap="true">
		<button
			slot="trigger"
			id="box"
			class="typography-box interactive-box"
			data-type="body-md"
			data-density="regular"
		>
			<DBCard behavior="interactive" spacing="small">
				<span class="typo-headline-text">The quick brown fox</span>
				<span class="typo-body-text">The quick brown fox jumps over the lazy dog</span>
			</DBCard>
		</button>
	</DBPopover>
</Playground>
