---
import DocumentationLayout from '@template/layouts/documentation/DocumentationLayout.astro';
import { DBSection, DBStack } from '@db-ux/react-core-components';
import TypographyPlayground from './_TypographyPlayground.astro';
import TypographyTable from './_TypographyTable.astro';
import GuidelineExample from '@template/components/GuidelineExample/GuidelineExample.astro';

const frontmatter: DocumentationFrontMatter = {
	headline: 'Typography',
	title: 'Typography',
	align: 'start',
	toc: true,
	sectionSpacing: 'small',
	sectionWidth: 'auto',
};

const headings = [
	{ depth: 2, slug: 'playground', text: 'Playground' },
	{ depth: 2, slug: 'guidelines', text: 'Guidelines' },
	{ depth: 2, slug: 'tokens', text: 'Tokens' },
];
---

<DocumentationLayout frontmatter={frontmatter} headings={headings}>
	Typography helps establish hierarchy and communicate key content through clear visual patterns.
	Well-designed typography improves readability and directly enhances the user experience.

	<DBSection spacing="small">
		<DBStack gap="x-large">
			<DBStack gap="none">
				<h2 id="playground">Playground</h2>
				<br />
				Experiment with typography tokens to see how font styles scale across different densities.
			</DBStack>
			<TypographyPlayground layout="horizontal" />
		</DBStack>
	</DBSection>

	<DBSection spacing="small">
		<h2 id="guidelines">Guidelines</h2>

		<h3>Code Mapping</h3>

		<p>
			Our typography has a simple and effective code mapping system that links the most common HTML
			tags (h1, h2, h3, h4, h5, h6, p, small) directly to our typography tokens 3xs to 3xl. If this
			is not sufficient for a particular use case, specific tokens can be used instead.
		</p>

		<div class="guideline-examples">
			<GuidelineExample
				figmaUrl="https://embed.figma.com/design/No7xHLQEEhplMWCiJkIlI8/Doku--Typography?node-id=1-1132&embed-host=share"
				fullWidth={true}
				description="Typography"
			/>
		</div>
	</DBSection>

	<DBSection spacing="small">
		<h2 id="tokens">Tokens</h2>
		<TypographyTable />
	</DBSection>

	<script>
		import { waitForElements } from '@template/utils/client.utils.ts';
		import { handleSimplePlaygrounds } from '@content/pages/documentation/foundation/_shared';

		function initTypography(): boolean {
			return handleSimplePlaygrounds({
				dataAttributeName: 'type',
				tokenPrefix: 'type',
				popoverLabel: 'Font',
				withDensity: true,
			});
		}

		waitForElements(initTypography);
	</script>
</DocumentationLayout>
