.footer {
	padding: var(--db-spacing-fixed-md) var(--db-spacing-fixed-lg);
	background-color: var(--db-adaptive-bg-basic-level-2-default);
	position: relative;

	/* Divider */

	&::before {
		content: '';
		background-color: var(--db-adaptive-on-bg-basic-emphasis-60-default);
		position: absolute;
		block-size: var(--db-border-width-3xs);
		inset-block-start: 0;
		inset-inline: 0;
	}
}
