name: Accessibility Scanner
on: workflow_dispatch # This configures the workflow to run manually, instead of (e.g.) automatically in every PR. Check out https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#on for more options.

jobs:
  accessibility_scanner:
    runs-on: ubuntu-24.04 # Use Ubuntu 24.04 explicitly
    steps:
      - name: Generate cache key
        id: generate_cache_key
        shell: bash
        run: |
          # Generate a cache key using the branch name, replacing characters (e.g. `/`) which would create unexpected paths.
          CACHE_KEY=$(printf 'cached_results-%s.json' "${{ github.ref_name }}" | tr -cs 'A-Za-z0-9._-' '_')
          echo "cache_key=$CACHE_KEY" >> $GITHUB_OUTPUT
      - uses: github/accessibility-scanner@v2
        with:
          urls: | # Provide a newline-delimited list of URLs to scan; more information below.
            https://design-system.deutschebahn.com/
            https://design-system.deutschebahn.com/products-and-services/foundations/
            https://design-system.deutschebahn.com/products-and-services/components/
            https://design-system.deutschebahn.com/products-and-services/extensions/
            https://design-system.deutschebahn.com/products-and-services/for-designer/
            https://design-system.deutschebahn.com/products-and-services/for-developer/
            https://design-system.deutschebahn.com/products-and-services/for-productmanagement/
            https://design-system.deutschebahn.com/about-us/
          repository: db-ux-design-system/db-ux-design-system.github.io # Provide a repository name-with-owner (in the format "primer/primer-docs"). This is where issues will be filed and where Copilot will open PRs; more information below.
          token: ${{ secrets.GH_a11y_scan }} # This token must have write access to the repo above (contents, issues, and PRs); more information below. Note: GitHub Actions' GITHUB_TOKEN cannot be used here.
          cache_key: ${{ steps.generate_cache_key.outputs.cache_key }} # Provide a filename that will be used when caching results. We recommend including the name or domain of the site being scanned.
          # login_url: # Optional: URL of the login page if authentication is required
          # username: # Optional: Username for authentication
          # password: ${{ secrets.PASSWORD }} # Optional: Password for authentication (use secrets!)
          # auth_context: # Optional: Stringified JSON object for complex authentication
          skip_copilot_assignment: true # Optional: Set to true to skip assigning issues to GitHub Copilot (or if you don't have GitHub Copilot)
